#container {
	width: 1200px;
	margin: 0 auto;
}

#myContent {
	-moz-column-count: 5;
	-moz-column-gap: 0px;
	-webkit-column-count: 5;
	-webkit-column-gap: 0px;
	column-count: 5;
	column-gap: 0px;
	width: 924px;
}

#myContent img{
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
}
