.main-headshot img {
    width: 300px;
    float: left;
}

.player-bio {
    float: left;
    padding: 0 0 0 0px;
}

.player-stats {
    float: left;
    padding: 0 0 0 90px;
}

.player-card .mod-page-header h1, .player-card .mod-page-header .player-bio, .player-card .mod-page-header .player-bio, .player-card .mod-page-header .player-stats {
    position: relative;
    z-index: 500;
}

.player-card .mod-page-header h1 {
    color: #c00;
    font: bold 30px/30px Helvetica,Arial,sans-serif;
    margin-bottom: 4px;
    margin-top: 23px;
}

.player-card .mod-page-header h1, .mod-page-header .player-bio {
    margin: 0 0 0 140px;
    position: relative;
}

.mod-page-header .player-bio .line-divider {
    width: 100%;
    -webkit-box-shadow: 0 1px 11px #fff;
    -moz-box-shadow: 0 1px 11px #fff;
    border-top: 1px solid #fff;
    opacity: .3;
    filter: alpha(opacity=30);
    float: none;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
}

.mod-page-header .player-bio ul.general-info {
    margin-top: 3px;
}

.team-logo {
    background: transparent url("/img/conf/orem/orem_tigers_logo.png");
    background-image: url("/img/conf/orem/orem_tigers_logo.png");
    /*background-position-x: initial;
    background-position-y: initial;*/
    background-size: 50%;
    background-repeat: no-repeat;
    /*background-repeat-x: initial;
    background-repeat-y: initial;*/
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    height: 105px;
    width: 240px;
    top: 80px;
    left: 10px;
    opacity: .3;
    position: absolute;
    background-color: transparent;
}
